.navbar {
  background-color: #29152f;
}
.navbar-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.navbar .nav {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  gap: 12px;
}

.nav__Item {
  color: #bfbfc3;
  text-decoration: none;
  font-family: 'Roboto' Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
.logo {
  width: 3rem;
}
.brand__container {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 1.2rem;
}

/* Sections */

.container {
  width: 1280px;
  min-height: 50vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}
.row {
  display: flex;
  gap: 20px;
  padding: 20px;
}
.col {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.space-between {
  justify-content: space-between;
}

.align-start {
  align-items: flex-start;
}

.align-stretch {
  align-items: stretch;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-grow {
  flex-grow: 1;
}

/* List */
.footer-menu-item {
  margin-top: 1rem;
}
/* Footer */
.info {
  max-width: 20%;
}
.footer-copyrights {
  width: 80%;
}
.footer-nav {
  align-items: flex-start;
}
.footer-menu {
  list-style-type: none;
  padding: 0;
}
.footer-social {
  display: inline-flex;
  gap: 1rem;
}
